{% extends 'blog/base.html' %}
{% block content %}
  <div class="post">
    <h3>{{ author.username }}'s contributions:</h3>
    {% for post in posts %}
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      {% if post.published_date %}
        <p>published: {{ post.published_date }}</p>
      {% else %}
        <p>created: {{ post.created_date }}
          <a href="{% url 'post_publish' pk=post.pk %}">Publish this!</a>
        </p>
      {% endif %}
      <p>{{ post.text|linebreaksbr }}</p>
    {% empty %}
      {{ user.username }} has no posts yet!
    {% endfor %}

  </div>
  {% endblock %}
