<html>
  <head>
    <title>WhatIEat</title>
  </head>
  <body>
    <meta http-equiv="content-type" content="text/html">
    <div>
      <h2><a href="/">What am I eating lately?!!!!</a></h2>
    </div>

    <!-- <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> -->
    {% for post in posts %}
      <div>
          <h3><a href="">{{ post.title }}</a></h3>
          <p>published: {{ post.published_date }}</p>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
    {% endfor %}



  </body>
</html>
