

.page-header {
    background-color: #237CDC;
    /* background-color: #ff9400; */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header a{
  color: #ffffff;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family:'Cedarville Cursive';
}

.main-header{
  /* background-color: #cccccc; */
  padding-bottom:30pt;
  padding-top:20pt;
  font-size:14pt;
}

.script{
  font-family:'Cedarville Cursive';
  font-size:20pt;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    /* height:100px; */
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 20px;
    margin-top:40px;
}


.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
